---
import Layout from '../layouts/Layout.astro';
import Button from '../components/PrimaryButton.astro';
---

<Layout>
 <div class="overlinep px-body-x py-space-24-32"> <a class="hover-underline-breadcrumb" href="/rental/">Rental </a><span> / </span> <span class="name"> Product Name </span><span> /</span> <span class="navactive">Rental request</span></div>
<div class="mobileGrid desktopGrid">
    <!-- Order summary -->
<div class="col-span-full pt-space-32-48 flex flex-col gap-space-32-48 lg:col-start-9 lg:col-span-4">
    <div class="flex flex-col bg-lightgrey p-8 gap-space-24-32">
        <h3 class="">How it works</h3>

        <div class="flex flex-col gap-space-24-32 pt-6 border-t-[1px] border-mediumgrey">
            <ol class="flex flex-col gap-6 pb-6 border-b-[1px] border-mediumgrey">
                <li class="flex gap-space-16-24">
                    <p class="mediumBody">1.</p>
                    <p>Fill out how long you’d like to rent the item for, your preferred payment and shipping option.</p>
                </li>
                <li class="flex gap-space-16-24">
                    <p class="mediumBody">2.</p>
                    <p>Fill out all the required fields with your information.</p>
                </li>
                <li class="flex gap-space-16-24">
                    <p class="mediumBody">3.</p>
                    <p>You will receive a confirmation email within 1-2 business days.</p>
                </li>
            </ol>
            <div class="flex flex-col gap-4">
                <p>Read more about the rental process and find answers to FAQ’s such as what happens if your requested item isn’t available, how payment works etc.</p>
                <a href="/rentalprocess/" class="accentSmallBody underline">Rental process</a>
            </div>
        </div>

    </div>
</div>

    <!-- form -->
 <div class="col-span-full flex flex-col gap-space-32-48 pt-space-64-80 lg:col-start-2 md:col-span-6 lg:row-start-1">
        <h2 class="'">Rental request</h2>
        <form name="Rental request" action="/success/" method="POST" data-netlify="true" class="col-span-full lg:col-span-4 flex flex-col gap-space-64-80">
          <!-- rental info -->
            <div class="flex flex-col gap-space-16-24">
<!-- dropdown -->
                <!-- <div class="flex flex-col gap-3">
                    <label for="items" class="">Choose item</label>
                    <select name="items" id="items" class="px-1.5 py-2.5 border-[1px]  border-solid border-mediumgrey">
                        <option value="" disabled selected>Choose an item from the list</option>
                        <option value="Abject Fiber Lace Skirt">Abject Fiber Lace Skirt</option>
                        <option value="Abjection Jeans">Abjection Jeans</option>
                        <option value="Abjection Tights">Abjection Tights</option>
                        <option value="Abjection T-shirt">Abjection T-shirt</option>
                        <option value="Contrapposto Dress">Contrapposto Dress</option>
                        <option value="Landfilled Care Label Top">Landfilled Care Label Top</option>
                        <option value="Pioneer Lace Dress">Pioneer Lace Dress</option>
                        <option value="Second Skin Dress">Second Skin Dress</option>
                        <option value="Shadow Dress">Shadow Dress</option>
                        <option value="Shadow Pants">Shadow Pants</option>
                        <option value="Shadow Shirt">Shadow Shirt</option>
                        <option value="Shadow Top">Shadow Top</option>
                    </select>
                </div> -->

                <div class="flex flex-col gap-3"> 
                    <label for="itemName" class="">Item</label>
                    <textarea id="itemName" name="itemName" class="item largeBody resize-none"></textarea>
                </div>
                <!-- rental period -->
                <div class="flex flex-col gap-3"> 
                    <p>Rental period *</p>
                    <div class="radioBar flex gap-space-24-32">
                       <div class="flex flex-col gap-2">
                            <input type="radio" id="threeDays" name="rentalPeriod" value="3 days">
                            <label for="threeDays">3 days</label>
                         <p class="self-center"><span class="price3">700</span> DKK</p>
                       </div>
                      <div class="flex flex-col gap-2">
                            <input type="radio" id="fiveDays" name="rentalPeriod" value="5 days">
                            <label for="fiveDays">5 days</label>
                            <p class="self-center"><span class="price5">700</span> DKK</p>
                      </div>
                       <div class="flex flex-col gap-2">
                            <input type="radio" id="oneWeek" name="rentalPeriod" value="1 week">
                            <label for="oneWeek">1 week</label> 
                            <p class="self-center ">  <span class="price1">x</span> DKK</p>
                       </div>
                    </div>
                </div>
                <!-- choose dates -->
             <div class="flex flex-col gap-3">   
                <label for="startDate">Choose start date *</label>
                <input type="date" id="startDate" name="startDate" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey w-[33%] lg:w-[25%]">
            </div>
            <!-- delivery options -->
            <div class="flex flex-col gap-3"> 
                <p>Delivery method *</p>
                <div class="radioBar flex gap-space-24-32">
                    <input type="radio" id="collect" name="deliveryMethod" value="Pick up">
                    <label for="collect">Pick up</label>
                
                    <input type="radio" id="ship" name="deliveryMethod" value="Ship item">
                    <label for="ship">Ship item</label>
                </div>
            </div>
              <!-- payment options -->
              <div class="flex flex-col gap-3"> 
                <p>Payment method *</p>
                <div class="radioBar flex gap-space-24-32">
                    <input type="radio" id="mobilePay" name="paymenyMethod" value="MobilePay">
                    <label for="mobilepay">Mobilepay</label>
                
                    <input type="radio" id="bankTransfer" name="paymenyMethod" value="Bank transfer">
                    <label for="bankTransfer">Bank transfer</label>

                    <input type="radio" id="payPickup" name="paymenyMethod" value="Pay at pick up">
                    <label for="payPickup">Pay at pick up</label>
                </div>
            </div>
        </div>
        <!-- start of personal info -->
<div class="flex flex-col gap-space-16-24">
              <div class="flex flex-col gap-3">
                   <label for="fullname">Name *</label>
                   <input  required type="text" id="fullname" name="fullname" placeholder="Please enter your full name" autocomplete="name" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                   <p class="overlinep error-message">Please enter your name</p>
                 </div>
              <div class="flex flex-col gap-3">
                <label for="tel">Phone Number</label>
                 <input type="tel" id="tel" name="tel" placeholder="xx xx xx xx" autocomplete="tel-national" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                </div>
                 <div class="flex flex-col gap-2">
               <div class="flex flex-col gap-3">
                   <label for="email">Email *</label>
                   <input  required type="email" id="email" name="email" placeholder="Please enter your email"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" autocomplete="email">
                   <p class="overlinep error-message">Please enter a valid email</p>
               </div>
               <div class="flex gap-3">
                <input class="regular-checkbox w-[20px] rounded-none" type="checkbox" id="newsletter" name="newsletter" value="newsletter">
                <label for="newsletter" class="pt-[0.3rem]">Subscribe to newsletter </label></div>
             </div>
           <div class="flex flex-col gap-space-16-24 lg:flex-row  md:gap-6">
                 <div class="flex flex-col gap-3 lg:w-[75%]">
                    <label for="address">Address *</label>
                    <input required type="text" id="address" name="address" placeholder="Please enter your address" autocomplete="street-address"  class="px-1.5 py-2.5 border-[1px]  border-solid border-mediumgrey">
                    <p class="overlinep error-message">Please enter a valid address</p>
                 </div>
                 <div class="flex flex-col gap-3">
                    <label for="postcode">Postal code*</label>
                    <input  required type="number" id="postcode" name="postcode" placeholder="f.ex. 2100" autocomplete="postal-code"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey w-32">
                 </div>
           </div>
          <div class="flex flex-col gap-space-16-24 md:flex-row  lg:gap-6">
                 <div class="flex flex-col gap-3 lg:w-[50%]">
                    <label for="city">City *</label>
                    <input  required type="text" id="city" name="city" placeholder="Please enter your city" autocomplete="address-level2"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                 </div>
                 <div class="flex flex-col gap-3 lg:w-[50%]">
                    <label for="country">Country *</label>
                    <input  required type="text" id="country" name="country" placeholder="Denmark" disabled  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                 </div>
          </div>
</div>

<!-- OLD VERSION -->
         <!-- SHIPPING OPTIONS BOX
         <div class="flex flex-col gap-4 pt-space-64-80">
            <h3>Shipping options</h3>
            <div class="bg-lightgrey flex justify-between lg:justify-start lg:gap-24 py-space-16-24 px-6">
               <div class="flex flex-row-reverse gap-3 ">
                 <label for="pickup" class="mt-1">Pick up</label>
                 <input type="radio" name="shippingOptions" id="pickup" class="w-5">
                </div>
                    <div class="flex flex-row-reverse gap-3">
                        <label for="ship" class="mt-1">Ship item</label>
                        <input type="radio" name="shippingOptions" id="ship" class="w-5">
                    </div>
                 </div>
         </div> -->
         <!-- PAYMENT METHOD-->
         <!-- PAYMENT METHOD-->
         <!-- <div class="pt-space-32-48">
            <h3 class="pb-4">Payment method</h3>
           
            <div class="bg-lightgrey col-span-full lg:col-span-4 flex flex-col gap-space-16-24 py-space-16-24  px-6">
                <div class="flex flex-col gap-1">
                    <label for="name" class="">Name on card*</label>
                    <input type="text" name="name" placeholder="Enter cardholder name" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                </div>

               <div class="flex flex-col gap-1">
                <label for="card">Card number*</label>
                <input class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" type="text" name="card" maxlength="19" inputmode="numeric" pattern="[0-9s]{13,19}" placeholder="XXXX XXXX XXXX XXXX" required>
               </div>
              <div class="flex flex-row gap-8">
             <div class="flex flex-col gap-1"> 
                <label for="expdate" >Exp*</label>
                
                    <input class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" autocomplete="off" type="text"  id="inputExpDate" placeholder="MM / YY" maxlength='7'>
              </div>
              <div class="flex flex-col gap-1">
                <label for="ccv">CCV*</label>
                <input type="text" name="CCV" placeholder="CCV" maxlength="3" pattern="[0-9]*" required class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
               </div>
              </div>
              <div class="flex flex-col gap-1">
                <label for="billingadd" class="">Billing address*</label>
      
                <div class="flex">
                  <input class="regular-checkbox w-[20px]" type="checkbox" checked="checked" name="sameadr">
                  <p class="text-form-inputandlabel pl-3 pt-[0.3rem]">
                    Shipping address same as billing
                  </p>
                 </div>
              </div>
            </div>
          </div> -->

<!-- BUTTON -->

        <div class="grid">
            <button type=submit class="self-center myButton button px-padding-button-x py-padding-button-y mt-space-32-48 hover:bg-colorhover bg-black text-white m-auto">Send request</button></div>
    </form>
</div>


</div>
</Layout>

<style>
body{
    accent-color: var(--color-black);
}
button p{
    font-family: var(--font-family-accent);
    font-size: 10px;
    font-weight: var(--font-weight-light);
}

input {
    outline: none;

}
input:focus {
 
  border: solid 1.5px black;
}
select:focus{
    border: solid 2px black;
}

/* input:focus:invalid {
    border: solid 1.5px red;

} */

input:required:valid{
    background: url("../svg/icons/check-ring.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 92%;
}
input:not(:focus):not(:placeholder-shown):invalid {
    background: url("../svg/icons/error.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98%;
}
.error-message {
  display: none;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block; 
}

/* RADIO BUTTONS */

.radioBar {
  margin: 0px;
}

.radioBar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioBar label {
    cursor: pointer;
    display: inline-block;
    background-color: var(color-white);
    padding: 0.5rem 0.5rem;
    font-family: var(--font-family-accent);
    border: 1px solid var(--color-black);
    font-weight: var(--font-weight-light);
  font-size: 14px;
}

.radioBar label:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}

.radioBar input[type="radio"]:focus + label {
    background-color: var(--color-black);
     color: var(--color-white);
}

.radioBar input[type="radio"]:checked + label {
    background-color: var(--color-black);
  color: var(--color-white);
}

</style>

<script is:inline>

    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get("id");
    
    const url = `https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment/${id}`;
    console.log(urlParams.get("id"));
    
    //fetch the data
    fetch(url)
      .then((res) => res.json())
      .then((data) => showProduct(data));
    
    //populate the page
    function showProduct(garment) {
      console.log(garment);
      document.querySelector(".item").textContent = garment.title.rendered;
      document.querySelector(".name").textContent =
    garment.title.rendered;

    document.querySelector(".price3").textContent =
    garment.price_3days;
    document.querySelector(".price5").textContent =
    garment.price_5days;
    document.querySelector(".price1").textContent =
    garment.price_1week;
    }