---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="mobileGrid desktopGrid">
        <h1 class="py-space-64-80 col-span-full"> Rental Process</h1>
        <h2 class="col-span-full pb-space-32-48">How it works</h2>
        <ol class="col-span-full desktopGrid">
            <li class="flex flex-col gap-3 md:gap-4 pb-space-32-48 md:col-span-5">
                <h3>1. Choose your item</h3>
                <p class="pl-4">Browse  and find your favorite hand-made designer item you would like to rent.</p>
            </li>
            <li class="flex flex-col gap-3 md:gap-4  pb-space-32-48 md:col-span-5 md:col-start-7">
                <h3>2. Request rental</h3>
                <p class="pl-4">Fill out the rental form by filling out how long you would like to rent your chosen item for, the start date of the rental period, your preferred payment method as well as delivery method, as well as your personal contact information..</p>
            </li>
            <li class="flex flex-col gap-3  md:gap-4 pb-space-32-48 md:pb-0 md:col-span-5">
                <h3>3. Receive a confirmation email</h3>
                <p class="pl-4">We will contact you within 1-2 business days confirming your rental request as well as with information regarding your chosen payment method. You can pay by bank transfer, through Mobile Pay or at pickup. The item is reserved for customers for 24 hours until they have completed the payment process. </p>
                <p class="mediumBody pl-4">What happens if the item is unavailable? </p>
                <p class="pl-4">If the item is unavailable for your selected dates we will send you alternate dates of availability for your preferred item. We will also send you a list of other available items for the dates you picked. </p>
            </li>
            <li class="flex flex-col gap-3 md:gap-4  pb-space-32-48 md:pb-0 md:col-span-5 md:col-start-7">
                <h3>4. Return item</h3>
                <p class="pl-4">Return method is to be the same as your chosen shipping method. We take care of cleaning the item after it is returned!</p>
                    <p class="mediumBody pl-4">Return through shipping</p>
                    <p class="pl-4">You will receive a prepaid shipping label with your item. Items are to be sent at the latest on the last day of the rental period and packaged properly to ensure damage isn’t done to the item.</p>
                    <p class="mediumBody pl-4">Return to studio</p>
                    <p class="pl-4">You are to return the item on the last day of the rental period or at the latest the day after. Reach out to us through email to set a time for return</p>
                    <a class="pl-4 links underline" href="mailto:sallygaarde@gmail.com" target="_blank">sallygaarde@gmail.com</a>
            </li>
        </ol>
       






    </div>


</Layout>