---
import Layout from '../layouts/Layout.astro';
---
<Layout>

    <h1 class="py-space-64-80 text-center">Thank you</h1>
    <section class="mobileGrid desktopGrid">
        
       
        
        <p class="mediumBody col-span-4 md:row-start-2 md:col-span-6 text-center md:col-start-4"> We have received your rental request and will get back to you within 1-2 business days. You will receive an email to confirm your rental request including all other information needed in regards to your rental.
        </p>
       <p class="mediumBody col-span-4 md:col-span-6 md:row-start-3 pt-space-16-24 text-center md:col-start-4">In case you haven't received a confirmation  
        email within 3 days, please contact </p>
        <a class=" text-center col-span-4  links underline md:row-start-4 md:col-start-5" href="mailto:sallygaarde@gmail.com" target="_blank">sallygaarde@gmail.com</a>
    </section>
   

</Layout>

